@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --clr-1: #fff;
  --clr-2: #ffd700;

  --fs-1: 1rem;
  --fs-2: 1.25rem;
  --fs-3: 1.5rem;
  --fs-4: 2rem;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

#progress-bar {
  position: fixed;
  width: 0;
  height: 0.4em;
  background-color: var(--clr-2);
  top: 0;
  left: 0;
  opacity: 0.7;
}

.scroll-up {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-2);
  color: #fff;
  opacity: 0;
  border: 0;
  position: fixed;
  right: 2%;
  top: 90%;
  transition: 0.3s ease;
}

.scroll-up:focus {
  outline: none;
}

.scroll-up:active {
  transform: scale(0.9);
}

.container {
  width: min(90vw, 40em);
  font-size: var(--fs-2);
  letter-spacing: 0.05rem;
  padding-bottom: 2rem;
}

a {
  color: #000;
}

header {
  align-items: center;
  margin-top: 2rem;
}

header .title {
  font-size: 2.5rem;
}

.container > * + *,
article > * + * {
  margin-top: 2.5rem;
}

section > * + * {
  padding-top: 1.5rem;
}

article ul > * + *,
article ol > * + * {
  margin-top: 1rem;
}

h1 {
  font-size: var(--fs-4);
}

h2 {
  font-size: var(--fs-3);
}

p {
  text-indent: var(--fs-2);
}

p,
li {
  text-align: justify;
}

figure {
  display: grid;
  place-items: center;
}

figcaption {
  color: #777;
  font-size: var(--fs-1);
  text-align: center;
}

@media (width > 40em) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .span-2 {
    grid-column: span 2;
  }
}
