@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

#progress-bar {
  position: fixed;
  width: 0;
  height: 0.4rem;
  background-color: #ffd700;
  top: 0;
  left: 0;
}

button.up {
  width: 2rem;
  height: 2rem;
  background-color: #ffd700;
  color: #fff;
  opacity: 0;
  border: 0;
  position: fixed;
  right: 2%;
  top: 90%;
  transition: 0.3s ease;
}

button.up:focus {
  outline: none;
}

button.up:active {
  transform: scale(0.9);
}
