@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --clr-1: #fff;
  --clr-2: #ffd700;

  --fs-1: 1rem;
  --fs-2: 1.25rem;
  --fs-3: 1.5rem;
  --fs-4: 2rem;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

#progress-bar {
  position: fixed;
  width: 0;
  height: 0.4em;
  background-color: var(--clr-2);
  top: 0;
  left: 0;
}

.scroll-up {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-2);
  color: #fff;
  opacity: 0;
  border: 0;
  position: fixed;
  right: 2%;
  top: 90%;
  transition: 0.3s ease;
}

.scroll-up:focus {
  outline: none;
}

.scroll-up:active {
  transform: scale(0.9);
}

.container {
  width: min(90vw, 50em);
  font-size: var(--fs-2);
  letter-spacing: 0.05rem;
}

a {
  color: #000;
}

nav {
  align-items: center;
  margin-top: 2rem;
}

nav .title {
  font-size: 2.5rem;
}

.container > * + *,
article > * + * {
  margin-top: 2rem;
}

section > * + * {
  margin-top: 1rem;
}
